<html>
<head>
  <title>Chef Template Rocks!</title>
</head>
<body>
  <hr>
  <h1>DEV Current Template!</h1>
  <hr>
  <p>It is maintained by <%= node["maintainer"] %></p>
  <p>Bandwidth requirement: <%= node["bandwidth"] %></p>
  <p>Fully qualified dn: <%= node["fqdn"] %></p>
</body>
